/.idea/.idea.FakeApiFarsi_WebService/.idea/.name
/Src/FakeApiFarsi.Api/obj/Debug/net9.0/.NETCoreApp,Version=v9.0.AssemblyAttributes.cs
/Src/FakeApiFarsi.Api/bin/Debug/net8.0/Asp.Versioning.Abstractions.dll
/Src/FakeApiFarsi.Api/bin/Debug/net8.0/Asp.Versioning.Http.dll
/Src/FakeApiFarsi.Api/bin/Debug/net8.0/Asp.Versioning.Mvc.ApiExplorer.dll
/Src/FakeApiFarsi.Api/bin/Debug/net8.0/Asp.Versioning.Mvc.dll
/Src/FakeApiFarsi.Api/obj/Debug/net9.0/FakeApiFarsi.Api.AssemblyInfo.cs
/Src/FakeApiFarsi.Api/obj/Debug/net9.0/FakeApiFarsi.Api.AssemblyInfoInputs.cache
/Src/FakeApiFarsi.Api/obj/Debug/net9.0/FakeApiFarsi.Api.assets.cache
/Src/FakeApiFarsi.Api/obj/Debug/net9.0/FakeApiFarsi.Api.csproj.AssemblyReference.cache
/Src/FakeApiFarsi.Api/obj/Debug/net9.0/FakeApiFarsi.Api.GeneratedMSBuildEditorConfig.editorconfig
/Src/FakeApiFarsi.Api/obj/Debug/net9.0/FakeApiFarsi.Api.GlobalUsings.g.cs
/Src/FakeApiFarsi.Api/obj/Debug/net8.0/FakeApiFarsi.Api.sourcelink.json
/Src/FakeApiFarsi.Api/bin/Debug/net8.0/FakeApiFarsi.Api.staticwebassets.endpoints.json
/Src/FakeApiFarsi.Application/obj/Debug/net8.0/FakeApiFarsi.Application.sourcelink.json
/Src/FakeApiFarsi.Domain/obj/Debug/net8.0/FakeApiFarsi.Domain.sourcelink.json
/Src/FakeApiFarsi.infrastructure/obj/Debug/net8.0/FakeApiFarsi.infrastructure.sourcelink.json
/Src/FakeApiFarsi.Api/logs/log-20250220.txt
/Src/FakeApiFarsi.Api/bin/Debug/net8.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/Src/FakeApiFarsi.Api/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/Src/FakeApiFarsi.Api/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/Src/FakeApiFarsi.Api/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/Src/FakeApiFarsi.Api/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/Src/FakeApiFarsi.Api/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/Src/FakeApiFarsi.Api/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/Src/FakeApiFarsi.Api/bin/Debug/net8.0/Scalar.AspNetCore.dll
/Src/FakeApiFarsi.Api/bin/Debug/net8.0/Serilog.AspNetCore.dll
/Src/FakeApiFarsi.Api/bin/Debug/net8.0/Serilog.dll
/Src/FakeApiFarsi.Api/bin/Debug/net8.0/Serilog.Enrichers.ClientInfo.dll
/Src/FakeApiFarsi.Api/bin/Debug/net8.0/Serilog.Enrichers.CorrelationId.dll
/Src/FakeApiFarsi.Api/bin/Debug/net8.0/Serilog.Enrichers.Environment.dll
/Src/FakeApiFarsi.Api/bin/Debug/net8.0/Serilog.Enrichers.Thread.dll
/Src/FakeApiFarsi.Api/bin/Debug/net8.0/Serilog.Exceptions.dll
/Src/FakeApiFarsi.Api/bin/Debug/net8.0/Serilog.Extensions.Hosting.dll
/Src/FakeApiFarsi.Api/bin/Debug/net8.0/Serilog.Extensions.Logging.dll
/Src/FakeApiFarsi.Api/bin/Debug/net8.0/Serilog.Formatting.Compact.dll
/Src/FakeApiFarsi.Api/bin/Debug/net8.0/Serilog.Formatting.Elasticsearch.dll
/Src/FakeApiFarsi.Api/bin/Debug/net8.0/Serilog.Settings.Configuration.dll
/Src/FakeApiFarsi.Api/bin/Debug/net8.0/Serilog.Sinks.Console.dll
/Src/FakeApiFarsi.Api/bin/Debug/net8.0/Serilog.Sinks.Debug.dll
/Src/FakeApiFarsi.Api/bin/Debug/net8.0/Serilog.Sinks.File.dll
/Src/FakeApiFarsi.Api/bin/Debug/net8.0/Serilog.Sinks.Seq.dll
/Src/FakeApiFarsi.Api/obj/Debug/net8.0/staticwebassets.build.endpoints.json
/Src/FakeApiFarsi.Api/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
